:root {
    --light-grey: lightgrey;
    --dark-blue: midnightblue;
    --fcc-blue: rgb(8, 31, 40);
    --light-yellow: #2b8630;
    --dark-yellow: #16570e;
    --light-pink: rgb(223, 134, 178);
    --dark-red: maroon;
    --light-green: rgb(78, 161, 78);
    --white: #ffffff;
}
body {
    font-family: "lato", Helvetica, sans-serif;
    font-size: 18px;
    background-color: var(--fcc-blue);
    color: var(--light-grey);
}
h1 {
    text-align: center;
}

.container {
    width: 90%;
    max-width: 680px;
}
h1, .container, .output {
    margin: 20px auto;
}

label, legend {
    font-weight: bold;
}

.input-container {
    display: flex;
    flex-direction: column;
}

button {
    cursor: pointer;
    text-decoration: none;
    background-color: var(--light-yellow);
    border: 2px solid var(--dark-yellow);
    color: var(--white);
    font-size: 17px;
}

button, input, select {
    min-height: 24px;
}
input, select {
    color: var(--dark-blue);
}

fieldset, label, button, input, select {
    margin-bottom: 10px;
}
.output {
    border: 2px solid var(--light-grey);
    padding: 10px;
    text-align: center;
}

.hide {
    display: none;
}

.output span {
    font-weight: bold;
    font-size: 1.2em;
}

.surplus {
    color: var(--light-pink);
}

.deficit {
    color: var(--light-green);
}